@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #060606;
    width: 100vw;
    min-height: 100vh;
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100;
    color: white;
}