main.manage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div.manage-box {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .esquerdo,
    .direito {
      flex: 1; // Faz com que ambos ocupem o mesmo espaço
      padding: 2rem;
      text-align: center;
    }
    div.esquerdo {
        display: flex;
        flex-direction: column;
        align-items: center;
      span {
        margin-top: 2rem;
        display: inline-block;
        width: 12rem;
        aspect-ratio: 1/1;
        position: relative;
        border-radius: 100%;
        img {
          border-radius: 100%;
        }
    }
    button {
        margin-top: 2rem;
        background-color: white;
        color: #2e2e2e;
        padding: 1rem;
        font-size: 1.2rem;
        border: none;
        outline: none;
        border-radius: 4rem;
        cursor: pointer;
        &:hover {
            background-color: #c7c7c7;
            color: rgb(0, 0, 0);
        }
        &:active {
            background-color: #242424;
            color: rgb(255, 255, 255);
      }
    }
    }
    .central {
      width: 2px; // Largura do traço
      height: 300px; // Altura do traço
      background-color: #2e2e2e; // Usando a cor bordô da tua navbar
      border-radius: 2px; // Suaviza as pontas do traço
    }
  }
}
