span.user-icon {
    display: inline-block;
    width: 3rem;
    aspect-ratio: 1/1;
    background-color: white;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    div.user-tooltip {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(51, 51, 51);
        padding: 0;
        border-radius: 0.25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        button {
            background: none;
            border: none;
            color: white;
            width: 100%;
            cursor: pointer;
            padding:1rem 2rem;
            font-weight: 700;
            font-size: 1rem;
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        
    }
}