main.main {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .logo {
        width: 20vw;
        aspect-ratio: 1/1;
        z-index: 1;
        position: relative;
        img {
            border-radius: 100%;
            animation: rotate 10s linear infinite;
            animation-play-state: paused;
            z-index: 1;
            &:hover {
                animation-play-state: running;
            }
        }
        div.tooltip {
            background-color: rgb(56, 56, 56);
            padding: 1rem;
            position: absolute;
            border-radius: 3rem;
            bottom: 0;
            width: 80%;
            left: 50%;
            z-index: 99;
            transform: translateX(-50%);
            p {
                color: white;
                font-size: 0.8rem;
                font-weight: 900;
            }
        }
    }
    .Sections {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        .section {
            padding: 1rem;
            background-color: rgb(27, 27, 27);
            min-height: 10rem;
            width: 90%;
            border-radius: 1rem;
            margin: 0 auto;
            display: grid;
            grid-template-rows: 1fr 3fr;
            h2 {
                margin-left: 2rem;
                color: white;
                font-size: 1.5rem;
                font-weight: 700;
                text-decoration: underline;
                cursor: pointer;
            }

        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

